form.add-job {
  textarea {
    height: 200px;
  }
}

.job {
  border: 1px solid #DDDDDD;
  padding: 20px;
  margin-bottom: 20px;
  .headline {
    margin-bottom: 10px;
    font-size: 19px;
    a {
      color: #F1C40F;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: #7F8C8D;
      }
    }
  }
}
